# Python Virtual Environment
venv/
__pycache__/
*.pyc
*.pyo

# Database
src/core/profilepull.db
src/core/*.db-journal

# Local Environment variables
.env

# MacOS artifacts
.DS_Store

# Large binaries and Executables
*.exe

# Private Session Tokens (CRITICAL: DO NOT COMMIT)
cookies.txt
*.txt
